<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuxhausen.colorcompete"
    android:versionCode="3"
    android:versionName=".6" >

    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".LaunchScreen"
            android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation" android:screenOrientation="landscape" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GameActivity" 
            android:configChanges="keyboard|keyboardHidden|orientation" 
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" 
            android:launchMode="singleTop" 
            android:alwaysRetainTaskState="true"></activity>
        <activity android:name=".ResultsPage" 
            android:configChanges="keyboard|keyboardHidden|orientation" 
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>
    </application>

</manifest>